.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.home .card {
  height: auto;
  width: 775px;
  background: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
}

.photo {
  width: 150px;
  height: 150px;
}

.photo img {
  width: 100%;
  border-radius: 10px;
}

.mainProfile {
  display: flex;
  gap: 50px;
}

.profile {
  font-size: 15px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: dimgrey;
}

.connected {
  text-align: center;
  color: dimgray;
  font-size: 12px;
  font-weight: 300;
  margin-top: 20px;
}

.cardContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.smallCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.smallCard .imgCard {
  width: 50px;
  height: 50px;
}

.imgCard img {
  width: 100%;
}

.smallCard {
  display: flex;
  text-align: left;
}

.mainInfo {
  display: flex;
  gap: 10px;
}
